<!DOCTYPE html>
<head th:replace="fragments/head :: head(title=#{upload.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <main id="content" role="main" class="form-card spacing-above-35">
  <section class="slab">
    <div class="grid">
        <th:block
            th:replace="'fragments/cardHeader' :: cardHeader(header=#{upload.header}, subtext=#{upload.subtext})"/>
        <div class="form-card__content">

          <div>
            <form action="/upload-file" method="post" enctype="multipart/form-data">

              <input id="file-upload" type="file" name="file" class="spacing-below-15"/>

                <button type="submit" class="button button--primary">Upload File</button>

            </form>
          </div>


        </div>

    </div>
  </section>
  <section class="slab slab--yellow">
    <h2 class="heading-35">Leased Credential Audit</h2>

    <p>A more comprehensive audit is available from the <a href="http://127.0.0.1:8200">vault UI </a></p>

    <table class="data-table">
      <thead>
      <tr>
        <th>Lease Expiry Time</th>
        <th>Resource Requested</th>
        <th>Upload Request</th>
        <th>Upload Status</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="lease : ${leases}">
        <td th:text="${lease.leaseExpiryTime}"></td>
        <td th:text="${lease.awsRole}"></td>
        <td th:text="${lease.uploadRequest}"></td>
        <td th:text="${lease.uploadRequestStatus}"></td>

      </tr>
      </tbody>
    </table>

  </section>
  </main>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>